# Ignore build artifacts and local caches
node_modules
dist
.bun

# Ignore OS-specific files
.DS_Store

# Ignore development environment files
.env

# Ignore version control
.git
.github
.cursor
.vscode
.eslintrc.cjs
.prettierrc.cjs
.prettierignore
.prettierignore